# Chapter 1
## Reading data

In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np

In [3]:
babynames = pd.read_csv("data/ontariobabynames.csv")

### Viewing data
Several functions exist to look at the data. The simplest is to write the variable and execute it.

In [5]:
babynames

        year sex    name  count
0       1917   F  Aadhya      0
1       1918   F  Aadhya      0
2       1919   F  Aadhya      0
3       1920   F  Aadhya      0
4       1921   F  Aadhya      0
5       1922   F  Aadhya      0
6       1923   F  Aadhya      0
7       1924   F  Aadhya      0
8       1925   F  Aadhya      0
9       1926   F  Aadhya      0
10      1927   F  Aadhya      0
11      1928   F  Aadhya      0
12      1929   F  Aadhya      0
13      1930   F  Aadhya      0
14      1931   F  Aadhya      0
15      1932   F  Aadhya      0
16      1933   F  Aadhya      0
17      1934   F  Aadhya      0
18      1935   F  Aadhya      0
19      1936   F  Aadhya      0
20      1937   F  Aadhya      0
21      1938   F  Aadhya      0
22      1939   F  Aadhya      0
23      1940   F  Aadhya      0
24      1941   F  Aadhya      0
25      1942   F  Aadhya      0
26      1943   F  Aadhya      0
27      1944   F  Aadhya      0
28      1945   F  Aadhya      0
29      1946   F  Aadhya      0
...      ...  ..     ...    ...
856070  1987   M   Zidan      0
856071  1988   M   Zidan      0
856072  1989   M   Zidan      0
856073  1990   M   Zidan      0
856074  1991   M   Zidan      0
856075  1992   M   Zidan      0
856076  1993   M   Zidan      0
856077  1994   M   Zidan      0
856078  1995   M   Zidan      0
856079  1996   M   Zidan      0
856080  1997   M   Zidan      0
856081  1998   M   Zidan      0
856082  1999   M   Zidan      0
856083  2000   M   Zidan      0
856084  2001   M   Zidan      0
856085  2002   M   Zidan      0
856086  2003   M   Zidan      0
856087  2004   M   Zidan      0
856088  2005   M   Zidan      0
856089  2006   M   Zidan      0
856090  2007   M   Zidan      0
856091  2008   M   Zidan      0
856092  2009   M   Zidan      0
856093  2010   M   Zidan      0
856094  2011   M   Zidan      0
856095  2012   M   Zidan      0
856096  2013   M   Zidan      0
856097  2014   M   Zidan      0
856098  2015   M   Zidan      0
856099  2016   M   Zidan      7

[856100 rows x 4 columns]

### Data sanitization
Never trust your data. Surveys can be filled in incorrectly, conventions can change, lots of things can happen.

Let's check the names that are just a single letter. These are likely just initials

In [4]:
babynames[babynames["name"].map(len) <= 1]["name"].unique()

array(['J', 'M', 'K'], dtype=object)

This seems like the data were just initials. That's probably not right.

How about names with two letters?

In [3]:
babynames[babynames["name"].map(len) == 2]["name"].unique()

array(['Jo', 'Ka', 'Le', 'My', 'No', 'Yi', 'Yu', 'Wm', 'Ty', 'Vu', 'Bo',
       'Ho', 'An', 'Om', 'Zi', 'Aj', 'Li', 'Ji', 'Cy', 'Md'], dtype=object)